sgf {
    width: 100%;
}

.sgf-container {
    max-width: 720px;
}

.sgf-board-wrapper {
    position: relative;
    width: 100%;
}

.sgf-board-wrapper:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.sgf-board-wrapper-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F2D252;
    border: solid 1px black;
    padding: 2%;
}

.sgf-board {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.sgf-row {
    display: table-row;
}

.sgf-cell {
    display: table-cell;
    empty-cells: show;
    padding: 0px;
    width: 1%;
}

.sgf-point {
    position: relative;
    height: 100%;
    width: 100%;
}

.sgf-cell:not(:first-child):not(:last-child) .sgf-point:before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    background-color: #333333;
    content: "";
    width: 100%;
    display: block;
}

.sgf-cell:first-child .sgf-point:before {
    position: absolute;
    right: 0;
    top: 50%;
    height: 1px;
    background-color: #333333;
    content: "";
    width: 50%;
    display: block;
}

.sgf-cell:last-child .sgf-point:before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    background-color: #333333;
    content: "";
    width: 50%;
    display: block;
}

.sgf-row:not(:first-child):not(:last-child) .sgf-cell .sgf-point:after {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    background-color: #333333;
    content: "";
    height: 100%;
    display: block;
}

.sgf-row:first-child .sgf-cell .sgf-point:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: #333333;
    content: "";
    height: 50%;
    display: block;
}

.sgf-row:last-child .sgf-cell .sgf-point:after {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    background-color: #333333;
    content: "";
    height: 50%;
    display: block;
}

.sgf-hoshi {
    position: absolute;
    height: 20%;
    min-height: 6px;
    max-height: 9px;
    width: 20%;
    min-width: 6px;
    max-width: 9px;
    border-radius: 50%;
    background-color: #333333;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}


.sgf-buttons-row {
    height: 40px;
    text-align: justify;
    width: 100%;
    font-size: 0.1px;
    margin-top: 10px;
}

.sgf-button {
    width: 22%;
    height: 30px;
    display: inline-block;

    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    background-color: #39a775;
    font-family: arial, arialMT, Helvetica, sans-serif;
    font-size: 29px;
    color: #eeeeee;
}

.sgf-buttons-row:after {
    content: "";
    width: 100%;
    display: inline-block;
}

