sgf {
    width: 100%;
}

.sgf-container {
    max-width: 720px;
    background-color: #cccccc;
    padding: 7px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sgf-board-wrapper {
    position: relative;
    width: 100%;
}

.sgf-board-wrapper:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.sgf-board-wrapper-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F2D252;
    //border: solid 1px #333333;
    padding: 2%;
}

.sgf-board {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.sgf-row {
    display: table-row;
}

.sgf-cell {
    display: table-cell;
    empty-cells: show;
    padding: 0px;
    width: 1%;
}

.sgf-point {
    position: relative;
    height: 100%;
    width: 100%;
}

.sgf-cell:not(:first-child):not(:last-child) .sgf-empty:before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    background-color: #333333;
    content: "";
    width: 100%;
    display: block;
}

.sgf-cell:first-child .sgf-empty:before {
    position: absolute;
    right: 0;
    top: 50%;
    height: 1px;
    background-color: #333333;
    content: "";
    width: 50%;
    display: block;
}

.sgf-cell:last-child .sgf-empty:before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    background-color: #333333;
    content: "";
    width: 50%;
    display: block;
}

.sgf-row:not(:first-child):not(:last-child) .sgf-cell .sgf-empty:after {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    background-color: #333333;
    content: "";
    height: 100%;
    display: block;
}

.sgf-row:first-child .sgf-cell .sgf-empty:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: #333333;
    content: "";
    height: 50%;
    display: block;
}

.sgf-row:last-child .sgf-cell .sgf-empty:after {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    background-color: #333333;
    content: "";
    height: 50%;
    display: block;
}

.sgf-empty .sgf-hoshi {
    position: absolute;
    height: 20%;
    min-height: 6px;
    max-height: 9px;
    width: 20%;
    min-width: 6px;
    max-width: 9px;
    border-radius: 50%;
    background-color: #333333;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.sgf-white:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: #eeeeee;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: solid 2px #333333;
}

.sgf-black:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: #333333;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: solid 2px #333333;
}

.sgf-lastmove:after {
    content: "";
    position: absolute;
    height: 30%;
    width: 30%;
    border-radius: 50%;
    border: 1px solid #cb4582;
    background-color: #cb4582;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.sgf-coord:after {
    content: attr(point-label) !important;
    position: absolute;
    height: 50%!important;
    width: 100%!important;
    border: 0px solid #cb4582!important;
    background-color: rgba(0, 0, 0, 0)!important;
    color: #cb0082!important;
    top: 0!important;
    left: 0!important;
    bottom: 0!important;
    right: 0!important;
    margin: auto!important;
    text-align: center;
    vertical-align: middle;
    //font-weight:bold;
    text-shadow: 0px 1px #eeeeee, 0px -1px #eeeeee,
        1px 0px #eeeeee, -1px 0px #eeeeee;
}

@media screen and (max-width: 500px){
    .sgf-coord:after {
        font-size: 12px!important;
        height: 70%!important;
    }
}

@media screen and (max-width: 380px){
    .sgf-coord:after {
        font-size: 11px!important;
        height: 90%!important;
    }
}

.sgf-buttons-row {
    text-align: justify;
    width: 100%;
    font-size: 0.1px;
    margin-top: 7px;
}

.sgf-buttons-row:after {
    content: "";
    width: 100%;
    display: inline-block;
}

.sgf-button {
    width: 22%;
    height: 30px;
    display: inline-block;

    text-align: center;
    vertical-align: middle;
    //border: 1px solid #333333;
    background-color: #39a775;
    font-family: arial, arialMT, Helvetica, sans-serif;
    font-size: 29px;
    color: #eeeeee;
    cursor: pointer;
}

.sgf-button-disabled {
    visibility: hidden;
}

.sgf-comment {
    margin-top: 7px;
    height: 120px;
    max-height: 120px;
    overflow: auto;
    //border: 1px solid #333333;
    background-color: #eeeeee;
    padding: 3px;
    -webkit-overflow-scrolling: touch;

    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
